In [1]:
import pandas as pd
import warnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
# Try reading the CSV file with different encodings
try:
    data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='utf-8')
except UnicodeDecodeError:
    try:
        data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin1')
    except UnicodeDecodeError:
        try:
            data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='ISO-8859-1')
        except UnicodeDecodeError:
            print("Unable to read the file with the available encodings.")
            raise
# Display the first few rows of the DataFrame
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [2]:
# Selecting only the 'Y2014' column
y2014_column = data['Y2014']

# Counting the missing values in 'Y2014'
missing_values_count = y2014_column.isnull().sum()

# Checking the total number of entries in 'Y2014'
total_entries = len(y2014_column)

# Calculating the percentage of missing values
percentage_missing = (missing_values_count / total_entries) * 100

# Printing the results
print("The total number of missing values in 2014 is: ", missing_values_count)
print("The percentage of missing values in 2014 is: {:.3f}%".format(percentage_missing))

The total number of missing values in 2014 is:  1589
The percentage of missing values in 2014 is: 2.607%

In [3]:
# Convert the 'Y2014', 'Y2015', 'Y2016', 'Y2017', and 'Y2018' columns to numeric
numeric_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Filter the DataFrame for rows where the 'Element' column is 'Stock Variation'
stock_variation_data = data[data['Element'] == 'Stock Variation']

# Group by 'Element' and calculate the sum of 'Stock Variation' for each year
yearly_stock_variation_sum = stock_variation_data[numeric_columns].sum()

# Find the year with the highest sum of 'Stock Variation'
highest_stock_variation_year = yearly_stock_variation_sum.idxmax()

# Print the result
print("The year with the highest sum of Stock Variation is:", highest_stock_variation_year)

The year with the highest sum of Stock Variation is: Y2014

In [4]:

# Convert the 'Y2014', 'Y2015', 'Y2016', 'Y2017', and 'Y2018' columns to numeric
numeric_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Filter the DataFrame for rows where the 'Element' column is 'Processing'
processing_data = data[data['Element'] == 'Processing']

# Filter the DataFrame further to include only data for the year 2017
processing_data_2017 = processing_data[['Element', 'Y2017']]

# Group by 'Element' and calculate the sum of 'Processing' for the year 2017
total_processing_2017 = processing_data_2017.groupby('Element')['Y2017'].sum()

# Print the result
print("Total sum of Processing in 2017:", total_processing_2017.values[0])

Total sum of Processing in 2017: 292836.0

In [5]:
# Calculating the correlation between 'Element Code' and each year
correlation = data[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()

# Finding the year with the least correlation with 'Element Code'
least_correlated_year = correlation.loc['Element Code'].idxmin()

# Displaying the result
print("The year with the least correlation with 'Element Code' is:", least_correlated_year)

The year with the least correlation with 'Element Code' is: Y2016

In [6]:
# Filtering the data for Wine item
wine_data = data[data['Item'] == 'Wine']

# Grouping by 'Item' and sum the production quantities for 2015 and 2018
wine_production_2015 = wine_data.groupby('Item')['Y2015'].sum().iloc[0]
wine_production_2018 = wine_data.groupby('Item')['Y2018'].sum().iloc[0]
print("The total sum of Wine produced in 2015 is :", wine_production_2015)
print("The total sum of Wine produced in 2018 is :", wine_production_2018)

The total sum of Wine produced in 2015 is : 4251.81
The total sum of Wine produced in 2018 is : 4039.32

In [7]:
# Calculating the total number of unique countries
total_unique_countries = data['Area'].nunique()
print("The total number of unique countries in the dataset: ", total_unique_countries)

The total number of unique countries in the dataset:  49

In [8]:
# Selecting columns for the year 2017
data_2017 = data[['Y2017']]

# Calculating mean and standard deviation for the year 2017
mean_2017 = data_2017.mean().iloc[0]
std_dev_2017 = data_2017.std().iloc[0]
print("The mean for the year 2017 is:", round(mean_2017, 2))
print("THe standard deviation for the year 2017 is:", round(std_dev_2017, 2))

The mean for the year 2017 is: 140.92
THe standard deviation for the year 2017 is: 1671.86

In [9]:
# Filtering the data for Madagascar in 2015 and sum the protein supply quantity
madagascar_2015_protein_supply = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
print("the total protein supply quantity in Madagascar in 2015 is :", madagascar_2015_protein_supply)

the total protein supply quantity in Madagascar in 2015 is : 173.04999999999998

In [10]:
# Selecting columns 'Y2017' and 'Area'
data_2017_area = data[['Y2017', 'Area']]

# Grouping by 'Area' and sum the values for 2017
sum_2017_by_area = data_2017_area.groupby('Area')['Y2017'].sum()

# Sorting the sums in ascending order and finding the 7th lowest
seventh_lowest_sum_2017 = sum_2017_by_area.sort_values().iloc[6]

# Finding the Area with the 7th lowest sum in 2017
area_with_seventh_lowest_sum_2017 = sum_2017_by_area[sum_2017_by_area == seventh_lowest_sum_2017].index[0]
print("the area with the 7th lowest sum in 2017 is :", area_with_seventh_lowest_sum_2017)

the area with the 7th lowest sum in 2017 is : Guinea-Bissau

In [11]:
# Selecting columns 'Y2017' and 'Area'
data_2017_area = data[['Y2017', 'Area']]

# Grouping by 'Area' and sum the values for 2017
sum_2017_by_area = data_2017_area.groupby('Area')['Y2017'].sum()

# Finding the Area with the highest sum in 2017
area_with_highest_sum_2017 = sum_2017_by_area.idxmax()
print("The area with the highest sum in 2017: ", area_with_highest_sum_2017)

The area with the highest sum in 2017:  Nigeria